@model List<ColegioMozart.Application.Common.CommonCRUD.Queries.ViewMenuDTO>


<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Subjects/Index">Materias</a>
        </li>

        @foreach (var item in Model)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-route-view="@item.Name" asp-page="/Common/Index">@item.DisplayName</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/ClassRoom/Index">Salones de Clase</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Students/Index">Alumnos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Teachers/Index">Docentes</a>
        </li>

    </ul>
</div>