@page
@model WebUI.Pages.Students.IndexModel
@{
    ViewData["Title"] = "Alumnos";
}

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-page="Create"><i class="fa-solid fa-circle-plus fa-2xl"></i></a>
</p>
<table class="table">
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>
